.tituloprincipal{
    font-family: Ballet;
    color: red;
    text-align: center;
    font-size: large;
    font-size: 50px;
}
.seleccion{
    
    margin: 0px;
    padding: 0px;
    text-align: center;
    font-size: large;
    margin: auto;
    background-color: black;
    color: white;   
}
h3{
    display: inline-block;
    width: 16%;
}


h1{
    color: blue;
    text-align: center;
   
    font-size: 34px;
    text-decoration: underline 2px color red;
    border: 1px solid   color black;
}
h2{
    color: aqua;
    text-align: right;
    font-size: 16px;
    border: 1px dashed   red;
    border-bottom: 1px solid    blue;

}
main{
    color: blue;

}
p{
    color: black;
}
p.normal{
    color: bisque;
    font-size: 14px;
    text-indent: 20px;
}
body{
    background-color: rgb(180, 211, 230);
    border: 1px solid black;
    width: 95%;
}
.enlaceMenu{
    color: white;
    text-decoration: none;
}