.tituloprincipal{
    font-family: Ballet;
    color: red;
    text-align: center;
    font-size: large;
    font-size: 50px;
}
.seleccion{
    
    
    margin: 0px;
    padding: 0px;
    text-align: center;
    font-size: large;
    margin: auto;
    background-color: black;
    color: white;   
}
h3{
    display: inline-block;
    width: 24%;
}
body{
    background-color: rgb(180, 211, 230);
    border: 1px solid black;
    width: 95%;
    margin: auto;
}
.enlaceMenu{
    color: white;
    text-decoration: none;
}
footer{
    color: white;
    background-color: red;
    text-align: center;
    padding: 5px;
}
.enlaceMenu:hover{
    color: red;
    border-bottom: 3px solid blue;
}
form{
    text-align: center;
    width: 60%;
}
main>div{
    width: 33%;
    display: inline-block;
    text-align: center;
    margin: auto;
}
main:nth-child(2){
    padding:5px;
}
fieldset{
    color: blue;
    border: 3px solid red;
}
fieldset>label{
    color: black;
}
input[type="button"],  input[type="reset"]{
    background-color: blue;
    color: red;
    text-align: center;
    border: 1px solid black;
    width: 49%;
}